/* Stili base per la pagina di registrazione */

.signup-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    background-color: #fff;
  }
  
  .signup-box {
    width: 300px;
    padding: 20px;
    background-color: #D4AF37; /* Giallo oro */
    border-radius: 10px;
    text-align: center;
  }
  
  h1 {
    color: white;
    margin-bottom: 20px;
  }
  
  .user-type {
    margin-bottom: 20px;
  }
  
  .user-type-btn {
    display: block;
    width: 100%;
    margin: 10px 0;
    padding: 10px;
    background-color: #cba843; /* Colore simile all'oro */
    border: none;
    border-radius: 5px;
    color: white;
    cursor: pointer;
  }
  
  input {
    display: block;
    width: 100%;
    margin: 10px 0;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
  }
  
  .submit-btn {
    width: 100%;
    padding: 10px;
    background-color: #D4AF37;
    border: none;
    border-radius: 5px;
    color: white;
    font-weight: bold;
    cursor: pointer;
    margin-top: 20px;
  }
  
  .signup-footer {
    margin-top: 50px;
    text-align: center;
  }
  
  .signup-footer p {
    margin: 5px 0;
  }
  
  .social-icons a {
    margin: 0 10px;
    text-decoration: none;
    color: #D4AF37;
  }
  